<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<meta name="ProgId" content="Excel.Sheet">
		<meta name="Generator" content="Microsoft Excel 15">
		<link rel="File-List" href="Lista%20de%20Formatos%20-%20Chillers_archivos/filelist.xml">
		<style id="Lista de Formatos - Chillers_16031_Styles">
			{
				mso-displayed-decimal-separator: "\,";
				mso-displayed-thousand-separator: "\.";
			}
			.xl1516031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: general;
				vertical-align: bottom;
				mso-background-source: auto;
				mso-pattern: auto;
				white-space: nowrap;
			}
			.xl6316031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 8.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: general;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl6416031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 8.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: general;
				vertical-align: bottom;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl6516031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 8.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: general;
				vertical-align: bottom;
				border-top: none;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl6616031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: general;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: none;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl6716031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: general;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: 1.0pt solid windowtext;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl6816031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: general;
				vertical-align: bottom;
				border-top: none;
				border-right: none;
				border-bottom: none;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl6916031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: general;
				vertical-align: bottom;
				border-top: none;
				border-right: 1.0pt solid windowtext;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl7016031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: general;
				vertical-align: bottom;
				border: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl7116031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: general;
				vertical-align: bottom;
				border-top: none;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl7216031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: general;
				vertical-align: bottom;
				border-top: none;
				border-right: 1.0pt solid windowtext;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl7316031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 9.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: center;
				border: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl7416031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: general;
				vertical-align: bottom;
				border-top: none;
				border-right: 1.0pt solid windowtext;
				border-bottom: 1.0pt solid windowtext;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl7516031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl7616031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: 1.0pt solid windowtext;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl7716031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: bottom;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl7816031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: right;
				vertical-align: bottom;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl7916031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: bottom;
				border-top: none;
				border-right: 1.0pt solid windowtext;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl8016031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: underline;
				text-underline-style: single;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: general;
				vertical-align: bottom;
				border-top: none;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl8116031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 6.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: right;
				vertical-align: center;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl8216031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl8316031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl8416031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: 1.0pt solid windowtext;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl8516031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: bottom;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl8616031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: bottom;
				border-top: none;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl8716031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: bottom;
				border-top: none;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl8816031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: bottom;
				border-top: none;
				border-right: 1.0pt solid windowtext;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl8916031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 16.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				border-top: none;
				border-right: none;
				border-bottom: none;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl9016031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 16.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl9116031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 16.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				border-top: none;
				border-right: 1.0pt solid windowtext;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl9216031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 16.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				border-top: none;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl9316031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 16.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				border-top: none;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl9416031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 16.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				border-top: none;
				border-right: 1.0pt solid windowtext;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl9516031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: none;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl9616031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: none;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl9716031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl9816031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				border-top: 1.0pt solid windowtext;
				border-right: 1.0pt solid windowtext;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl9916031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				border-top: none;
				border-right: none;
				border-bottom: none;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl10016031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl10116031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				border-top: none;
				border-right: 1.0pt solid windowtext;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl10216031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				border-top: none;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl10316031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				border-top: none;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl10416031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: center;
				vertical-align: middle;
				border-top: none;
				border-right: 1.0pt solid windowtext;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl10516031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: none;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl10616031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl10716031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: 1.0pt solid windowtext;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl10816031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 8.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: right;
				vertical-align: bottom;
				border-top: none;
				border-right: none;
				border-bottom: none;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl10916031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 8.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: right;
				vertical-align: bottom;
				border-top: none;
				border-right: 1.0pt solid windowtext;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl11016031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 8.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: right;
				vertical-align: bottom;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl11116031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl11216031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl11316031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: bottom;
				border-top: 1.0pt solid windowtext;
				border-right: 1.0pt solid windowtext;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl11416031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: top;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: none;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl11516031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: top;
				border-top: 1.0pt solid windowtext;
				border-right: none;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl11616031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: top;
				border-top: 1.0pt solid windowtext;
				border-right: 1.0pt solid windowtext;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl11716031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: top;
				border-top: none;
				border-right: none;
				border-bottom: none;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl11816031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: top;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl11916031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: top;
				border-top: none;
				border-right: 1.0pt solid windowtext;
				border-bottom: none;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl12016031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: top;
				border-top: none;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: 1.0pt solid windowtext;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl12116031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: top;
				border-top: none;
				border-right: none;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
			.xl12216031 {
				padding-top: 1px;
				padding-right: 1px;
				padding-left: 1px;
				mso-ignore: padding;
				color: black;
				font-size: 11.0pt;
				font-weight: 400;
				font-style: normal;
				text-decoration: none;
				font-family: Calibri, sans-serif;
				mso-font-charset: 0;
				mso-number-format: General;
				text-align: left;
				vertical-align: top;
				border-top: none;
				border-right: 1.0pt solid windowtext;
				border-bottom: 1.0pt solid windowtext;
				border-left: none;
				background: white;
				mso-pattern: black none;
				white-space: nowrap;
			}
		</style>
		<title>PM01-InspeccionChillers</title>
        <link rel="icon" type="image/png" sizes="16x16" href="theme/src/assets/images/favicon.png">
        <link href="resources/assets/js/sigpad/jquery.signaturepad.css" rel="stylesheet">
	</head>

	<body>

		<div id="Lista de Formatos - Chillers_16031" align="center" x:publishsource="Excel">
			<h1 style='color:black;font-family:Calibri;font-size:14.0pt;font-weight:800;font-style:normal'>PM01-InspeccionChillers</h1>
			<table border="0" cellpadding="0" cellspacing="0" width="1450" style='border-collapse:collapse;table-layout:fixed;width:100%'>
				<col width="26" style='mso-width-source:userset;mso-width-alt:910;width:19pt'>
				<col width="35" style='mso-width-source:userset;mso-width-alt:1251;width:26pt'>
				<col width="81" style='mso-width-source:userset;mso-width-alt:2872;width:61pt'>
				<col width="62" style='mso-width-source:userset;mso-width-alt:2190;width:46pt'>
				<col width="64" span="2" style='mso-width-source:userset;mso-width-alt:2275; width:48pt'>
				<col width="62" style='mso-width-source:userset;mso-width-alt:2190;width:46pt'>
				<col width="80" style='mso-width-source:userset;mso-width-alt:2844;width:60pt'>
				<col width="64" style='mso-width-source:userset;mso-width-alt:2275;width:48pt'>
				<col width="62" style='mso-width-source:userset;mso-width-alt:2190;width:46pt'>
				<col width="64" style='mso-width-source:userset;mso-width-alt:2275;width:48pt'>
				<col width="33" span="2" style='mso-width-source:userset;mso-width-alt:1166; width:25pt'>
				<col width="84" style='mso-width-source:userset;mso-width-alt:2986;width:63pt'>
				<col width="64" span="3" style='mso-width-source:userset;mso-width-alt:2275; width:48pt'>
				<col width="83" style='width:62pt'>
				<col width="80" style='mso-width-source:userset;mso-width-alt:2844;width:60pt'>
				<col width="63" span="3" style='mso-width-source:userset;mso-width-alt:2247; width:47pt'>
				<col width="34" style='mso-width-source:userset;mso-width-alt:1194;width:25pt'>
				<col width="33" style='mso-width-source:userset;mso-width-alt:1166;width:25pt'>
				<col width="25" style='mso-width-source:userset;mso-width-alt:881;width:19pt'>
				<tr height="20" style='height:15.0pt'>
					<td height="20" class="xl6416031" width="26" style='height:15.0pt;width:19pt'>
						<a name="RANGE!A1:Y96">&nbsp;</a>
					</td>
					<td class="xl6416031" width="35" style='width:26pt'>&nbsp;</td>
					<td class="xl6416031" width="81" style='width:61pt'>&nbsp;</td>
					<td class="xl6416031" width="62" style='width:46pt'>&nbsp;</td>
					<td class="xl6416031" width="64" style='width:48pt'>&nbsp;</td>
					<td class="xl6416031" width="64" style='width:48pt'>&nbsp;</td>
					<td class="xl6416031" width="62" style='width:46pt'>&nbsp;</td>
					<td class="xl6416031" width="80" style='width:60pt'>&nbsp;</td>
					<td class="xl6416031" width="64" style='width:48pt'>&nbsp;</td>
					<td class="xl6416031" width="62" style='width:46pt'>&nbsp;</td>
					<td class="xl6416031" width="64" style='width:48pt'>&nbsp;</td>
					<td class="xl6416031" width="33" style='width:25pt'>&nbsp;</td>
					<td class="xl6416031" width="33" style='width:25pt'>&nbsp;</td>
					<td class="xl6416031" width="84" style='width:63pt'>&nbsp;</td>
					<td class="xl6416031" width="64" style='width:48pt'>&nbsp;</td>
					<td class="xl6416031" width="64" style='width:48pt'>&nbsp;</td>
					<td class="xl6416031" width="64" style='width:48pt'>&nbsp;</td>
					<td class="xl6416031" width="83" style='width:62pt'>&nbsp;</td>
					<td class="xl6416031" width="80" style='width:60pt'>&nbsp;</td>
					<td class="xl6416031" width="63" style='width:47pt'>&nbsp;</td>
					<td class="xl6416031" width="63" style='width:47pt'>&nbsp;</td>
					<td class="xl6416031" width="63" style='width:47pt'>&nbsp;</td>
					<td class="xl6416031" width="34" style='width:25pt'>&nbsp;</td>
					<td class="xl6416031" width="33" style='width:25pt'>&nbsp;</td>
					<td class="xl6416031" width="25" style='width:19pt'>&nbsp;</td>
				</tr>
				<tr>
					<td>
						<img src="{{ly[0]}}" width="230" height="60" />
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
